.NextDay {
    
    @media (max-width: 412px) {   //iphone 6 7 8 x

    .Text h1 {
      font-size: xx-large;
     margin-bottom: 2rem;
    margin-top: 2rem;
    }
    .Next3Days {
               
        .showForecast  {
        display: flex;
        flex-direction: column;   
   
        .cards {          
          font-weight: bold;
          border: 3px solid #f1f1f1;
          padding: 4px;
          margin-top: 25px;
          width:14rem;
          .cardText {
            font-size: 10px;
          }
          .cardTitle {
            font-size: 15px;
          }
          h2 {
            font-size: 20px;
            text-decoration: underline;
          }
          Img {
            width: 60px;
            height: 60px;
            margin-top: 1rem;
           }
        }      
    }
  }
    Button {
     padding: 0.8rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
}
@media (min-width: 768px) and (max-height: 1024px) {  //ipad

    .Text h1 {
      font-size: xx-large;
     margin-bottom: 3rem;
    margin-top: 3rem;
    }
    .Next3Days {
        
        .showForecast  {
        display: flex;
        flex-direction: row;   
   
        .cards {          
          font-weight: bold;
          border: 3px solid #f1f1f1;
          padding: 4px;
          margin-top: 25px;
          width:13rem;
          .cardText {
            font-size: 15px;
          }
          .cardTitle {
            font-size: 20px;
          }
          h2 {
            font-size: 25px;
            text-decoration: underline;
          }
          Img {
            width: 60px;
            height: 60px;
            margin-top: 1rem;
           }
        }      
    }
  }
    Button {
     padding: 0.8rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
  }
}
@media (min-width: 1024px) and (max-height: 1366px) {  //ipad pro

  .Text h1 {
    font-size: xx-large;
   margin-bottom: 3rem;
   margin-top: 3rem;
  }
  .Next3Days {
      
      .showForecast  {
      display: flex;
      flex-direction: row;   
 
      .cards {          
        font-weight: bold;
        border: 3px solid #f1f1f1;
        padding: 4px;
        margin-top: 25px;
        width:15rem;
        .cardText {
          font-size: 15px;
        }
        .cardTitle {
          font-size: 20px;
        }
        h2 {
          font-size: 30px;
          text-decoration: underline;
        }
        Img {
          width: 65px;
          height: 65px;
          margin-top: 1rem;
         }
      }      
  }
}
  Button {
   padding: 0.8rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
}
}
@media (min-width: 2440px) {    

    .Text h1 {
     margin-bottom: 5rem;
     font-size: 55px;
     text-decoration: underline;
    }
    .Next3Days .showForecast  {
        display: flex;
        flex-direction: row; 
       
        .cards {
          font-weight: bold;
          padding: 10px;
          margin-top: 30px;
          height:29rem;
          width:20rem;

        .cardText {
          font-size: 25px;
        }
        .cardTitle {
          font-size: 25px;
        }
        h2 {
          font-size: 45px;
          text-decoration: underline;
        }
       Img {
        width: 80px;
        height: 80px;
        margin-top: 1rem;
       }
    }
    }
    .buttonTop {
      padding: 1rem 2rem 1rem 2rem;
      margin-top: 12rem;
      border: 0.21rem solid white;
      font-size: x-large;
      font-weight: 700;
    }
  }
}
